<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCk21PUMPGVNB3dM3Vv7GOJMD-55E6t9_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>855013128767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tuna.InstaFirebase</string>
	<key>PROJECT_ID</key>
	<string>instafirebase-ec0b4</string>
	<key>STORAGE_BUCKET</key>
	<string>instafirebase-ec0b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855013128767:ios:b5f133511469a33d60d68a</string>
</dict>
</plist>